{% extends 'base.html' %}
 
{% block title %}CSE notes{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">      
</div>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">CSE notes
    </h2>
    <div class="row g-4 py-5 row-cols-10 row-cols-lg-10">
        <h4>Sorry for the inconvenience, this page is still under construction</h4>
    </div>
</div>
{% endblock body %}
