{% extends 'base.html' %}
 
{% block title %} MPI Notes {% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Microprocessing and Interfacing
    </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
            <form action="/notes_1" id="id1" method="GET" href ="show_pdf1">
              Chapter 1
              <select select class="form-select" aria-label="Default select example" form="id1" name="name1" id="name1" required>
                <option selected></option>
                <option  value="mpi_1_1">Part 1</option>
                <option  value="mpi_1_2">Part 2</option>
                <option  value="mpi_1_3">Part 3</option>
                <option  value="mpi_1_4">Part 4</option>
                <option  value="mpi_1_5">Part 5</option>
                <option  value="mpi_1_6">Part 6</option>
                <option  value="mpi_1_7">Illustration switch control</option>
                <option  value="mpi_1_8">Memory mapping and memory types</option>
                <option  value="mpi_1_9">8085 interrupts</option>
                <option  value="mpi_1_10">8085 and 8086 architectures</option>
                  
              </select>
              <br>
              <input class="button" type="submit" value="Open">
          </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <form action="/notes_2" id="id2" method="GET" href ="show_pdf2">
            Chapter 2
            <select select class="form-select" aria-label="Default select example" form="id2" name="name2" id="name2" required>
                <option selected></option>
                  <option  value="mpi_2_1">Part 1</option>
                  <option  value="mpi_2_2">Part 2</option>
                  <option  value="mpi_2_3">Part 3</option>
                  <option  value="mpi_2_4">Part 4</option>
                  <option  value="mpi_2_5">8086 instructions</option>
                  <option  value="mpi_2_6">8086 directives</option>
                  <option  value="mpi_2_7">8086 assembly_programs</option>
                  <option  value="mpi_2_7">8086 assembler_directives</option>
                  <option  value="mpi_2_7">8086 timing_delays</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <form action="/notes_3" id="id3" method="GET" href ="show_pdf3">
            Chapter 3
            <select select class="form-select" aria-label="Default select example" form="id3" name="name3" id="name3" required>
              <option selected></option>
                <option  value="mpi_3_1">8279 </option>
                <option  value="mpi_3_2">8279 ppt</option>
                <option  value="mpi_3_3">MPMC</option>
                <option  value="mpi_3_4">Basic io interfacing-8086</option>
                <option  value="mpi_3_5">Memory-interfacing-8086</option>
                <option  value="mpi_3_6">KBController</option>
                <option  value="mpi_3_7">Concept Key Debounce</option>
                <option  value="mpi_3_8">8255-ppi-8086 io interfacing</option>
                <option  value="mpi_3_9">8086 ADC-DAC interfacing</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <form action="/notes_4" id="id4" method="GET" href ="show_pdf4">
            Chapter 4
            <select select class="form-select" aria-label="Default select example" form="id4" name="name4" id="name4" required>
              <option selected></option>
                <option  value="mpi_4_1">8259A programmable interrupt controller</option>
                <option  value="mpi_4_2">8253-8254 programmable interval timer</option>
                <option  value="mpi_4_3">DOS FUNCTION CALLS</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>  
          <form action="/notes_5" id="id5" method="GET" href ="show_pdf5">
            Chapter 5
            <select select class="form-select" aria-label="Default select example" form="id5" name="name5" id="name5" required>
              <option selected></option>
                <option  value="mpi_5_1">8251 USART</option>
                <option  value="mpi_5_2">8257 DMA Controller part 1</option>
                <option  value="mpi_5_3">8257 DMA Controller part 1</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>  
          <form action="/notes_6" id="id6" method="GET" href ="show_pdf6">
            Previous papers and syllabus
            <select select class="form-select" aria-label="Default select example" form="id6" name="name6" id="name6" required>
              <option selected></option>
                <option  value="mpi_pp">Previous papers</option>
                <option  value="mpi_s">Syllabus</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


    </div>
  </div>
{% endblock body %}