{% extends 'base.html' %}
 
{% block title %} DCCN Notes {% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Data Communication and computer network
    </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
            <form action="/notes_1" id="id1" method="GET" href ="show_pdf1">
              Chapter 1
              <select select class="form-select" aria-label="Default select example" form="id1" name="name1" id="name1" required>
                <option selected></option>
                  <option  value="dccn_1_1">Complete ppt</option>
                  
              </select>
              <br>
              <input class="button" type="submit" value="Open">
          </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <form action="/notes_2" id="id2" method="GET" href ="show_pdf2">
            Chapter 2
            <select select class="form-select" aria-label="Default select example" form="id2" name="name2" id="name2" required>
                <option selected></option>
                <option  value="dccn_2_1">Complete ppt</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <form action="/notes_3" id="id3" method="GET" href ="show_pdf3">
            Chapter 3
            <select select class="form-select" aria-label="Default select example" form="id3" name="name3" id="name3" required>
              <option selected></option>
              <option  value="dccn_3_1">Complete ppt</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <form action="/notes_4" id="id4" method="GET" href ="show_pdf4">
            Chapter 4
            <select select class="form-select" aria-label="Default select example" form="id4" name="name4" id="name4" required>
              <option selected></option>
              <option  value="dccn_4_1">Complete ppt</option>
              <option  value="dccn_4_1">Haseeba madam's ppt</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>  
          <form action="/notes_5" id="id5" method="GET" href ="show_pdf5">
            Chapter 5
            <select select class="form-select" aria-label="Default select example" form="id5" name="name5" id="name5" required>
              <option selected></option>
                <option  value="dccn_5_1">Complete ppt</option>
                <option  value="dccn_5_2">Domain Name System -Haseeba madam's ppt</option>
                <option  value="dccn_5_3">Email and FTP -Haseeba madam's ppt</option>
                <option  value="dccn_5_4">SNMP -Haseeba madam's ppt</option>
                <option  value="dccn_5_5">WWW AND HTTP -Haseeba madam's ppt</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>  
          <form action="/notes_6" id="id6" method="GET" href ="show_pdf6">
            Previous papers and syllabus
            <select select class="form-select" aria-label="Default select example" form="id6" name="name6" id="name6" required>
              <option selected></option>
                <option  value="dccn_pp">Previous papers</option>
                <option  value="dccn_iq">Important questions</option>
                <option  value="dccn_s">Syllabus</option>
            </select>
            <br>
            <input class="button" type="submit" value="Open">
        </form>
        </div>
      </div>


    </div>
  </div>
{% endblock body %}